
header{                     /*  The entire top of site */
    background: #5F2A87;
    width: 100%;
    height: 180px;
}

header .navbar-nav{       /*  The nav bar on header */
    list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 200px;
  background-color:#5F2A87;
  top: 400px;
}



/*header .navbar-nav li a{
    padding: 0.25rem 1rem;
    color: white;
}   

header .navbar-nav li:first-child a{
    padding-left: 0;
}
header .navbar-nav li:last-child a{
    padding-right: 0;
}*/


header .nav-link{       /* The next in nav bar */
    color: white  !important;
    padding:13px;
    margin-left: 20px;
}



.section-1-Home{             /* First section of homepage */
    background-image: url("../images/DJ.JPG") ;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 1900px 1200px;
    background-position: -140px;
}


#logo-main{         /* Logo at top of site */
   width: 30%;
   display: flex;
   align-items: center;
   height: 180px;

}

header[role="banner"] #logo-main {  /* Puts logo above nav bar */
    display: block;
 
    margin: -40px auto;
    
  }
  .navbar{
    width: 100%;
    text-align: center;
    margin-top: -70px;
  }

  @font-face{
      font-family: milocha;
      src: url("../fonts/milocha.otf"); 

  } 



  .Big-SloganText{         /* Large slogan text*/
    font-family: "milocha";
    font-size: 170px;
    margin: 200px 300px;
    color: white;
  } 
   .Small-SloganText{   /* Small slogan text*/
    font-family: "milocha";
    color: white;
    font-size: 40px;
   margin-top: 255px;
   margin-left: -290px;
  }

  .Small-SloganText-2{        /* Under small slogan text*/
    font-family: "milocha";
    color: white;
    font-size: 40px;
   margin-top: -20px;
   margin-left: -290px;
  }