/*
    This stylesheet is loaded automatically by Wordpress when compiled
    and placed in the root theme directory folder as editor-style.css

    For more info, check out the codex:
    http://codex.wordpress.org/Editor_Style

    Wrap the entire post style inside the TinyMCE selector, as suggested
    here http://codex.wordpress.org/Function_Reference/add_editor_style
*/

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

html {
    position: relative;
    min-height: 100%;
}

h1 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

h2 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

p {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 14px 0px 10px 15px;
}

.alignleft {
    float: left;
    margin: 14px 15px 10px 0;
}